{
  "swagger": "2.0",
  "info": {
    "title": "TestcancelFlow",
    "description": "",
    "version": "1.0"
  },
  "host": "api.flow.microsoft.com",
  "basePath": "/providers/Microsoft.ProcessSimple/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/environments/{environmentId}/flows/{flowId}/runs/{runId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Workflowstatus",
        "description": "Workflowstatus",
        "operationId": "Workflowstatus",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01"
          }
        ]
      }
    },
    "/environments/{environmentId}/flows/{flowId}/runs/{runId}/cancel": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "CancelFlow",
        "description": "CancelFlow",
        "operationId": "CancelFlow",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}